auth.json
mturk-and-gmail.txt
my-own-auth.json
mturk_input.csv

/raw data/

*.DS_Store
*.html
*.png
*.docx
*.doc
*.jpg
*.txt
*.Rproj
*.Rproj.user
*.Rhistory
*.Ruserdata
*.history
*.RData
*.zip
*.dcf

